In [1]:
%load_ext autoreload
%autoreload 2

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date
from datetime import datetime
import os

import data as data_
import shared

In [2]:
# Paths

folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [3]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [5]:
len(energy)

86

## Handling data
---

### Download data

In [6]:
# download data

end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

download = True
if download:
    df = data_.downloadAllTickers(tickers=energy, start=start_, end=end_, period='w', group_by='column')

In [7]:
df.head()

           adjusted_close                                                    \
                      TAN     TPYP      UMI    VCLN     VDE    VMAT    WNDY
date
2023-10-30          41.35  24.3228  34.4813  15.475  119.49  25.318  11.920
2023-10-31          41.98  24.4600  34.6274  15.679  119.94  25.434  11.840
2023-11-01          41.52  24.5800  34.8436  15.564  119.68  25.723  11.710
2023-11-02          43.04  25.4180  35.9748  16.048  123.30  26.217  12.155
2023-11-03          44.70  25.4800  35.9580  16.390  122.19  26.591  12.490

                                  ...   volume                                 \
              XES    XLE     XOP  ...      TAN   TPYP   UMI VCLN     VDE VMAT
date                              ...
2023-10-30  87.79  84.91  143.40  ...  1007083  29395  3200  100  566000    0
2023-10-31  87.46  85.19  145.22  ...   762538  28624  8400    0  583800  100
2023-11-01  87.88  84.99  144.95  ...   715793  36200  8400  100  445600  100
2023-11-02  90.48  87.56  148.71  ...  1509486  24900  4800  100  547700    0
2023-11-03  90.13  86.68  147.62  ...  1106782  23800  1300  100  357400  100


            WNDY     XES       XLE      XOP
date
2023-10-30   100  236600  22765340  5117400
2023-10-31   100  112300  18602850  3808900
2023-11-01   100  226000  23041252  4217400
2023-11-02   700  217700  22661491  5007300
2023-11-03  2300  138200  23617502  4929600

[5 rows x 60 columns]

In [8]:
df.close

,TAN,TPYP,UMI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
date,,,,,,,,,,
2023-10-30,41.35,24.3228,34.9320,15.4750,119.49,25.3180,11.920,87.79,84.91,143.40
2023-10-31,41.98,24.4600,35.0800,15.6790,119.94,25.4340,11.840,87.46,85.19,145.22
2023-11-01,41.52,24.5800,35.2990,15.5640,119.68,25.7230,11.710,87.88,84.99,144.95
2023-11-02,43.04,25.4180,36.4450,16.0480,123.30,26.2170,12.155,90.48,87.56,148.71
2023-11-03,44.70,25.4800,36.4280,16.3900,122.19,26.5910,12.490,90.13,86.68,147.62
2023-11-06,43.88,25.2300,36.2160,16.2320,120.48,26.5490,12.490,88.17,85.70,143.69
2023-11-07,43.91,24.9500,35.7430,16.0540,117.56,26.6100,12.305,83.74,83.80,139.62
2023-11-08,42.54,24.7500,35.3260,15.9020,116.14,26.6400,12.370,83.55,82.75,136.62
2023-11-09,41.56,24.7200,35.1900,15.7490,115.88,26.5100,12.320,83.55,82.50,135.66
2023-11-10,41.40,24.8200,35.4070,15.7430,117.03,26.8200,12.400,84.64,83.41,137.17
2023-11-13,41.71,24.8800,35.5460,15.7237,117.91,26.8830,12.300,85.32,84.01,138.26
2023-11-14,46.03,25.3600,35.9890,16.6167,119.08,27.3700,12.970,87.25,84.76,140.55
2023-11-15,46.65,25.4100,36.0270,16.7090,118.73,27.3850,12.940,85.65,84.60,140.71
2023-11-16,45.48,25.1260,35.6440,16.5920,116.38,27.5350,12.730,82.26,82.95,136.65
2023-11-17,45.63,25.5400,36.2180,16.7640,118.77,27.6540,12.855,84.48,84.69,139.66
2023-11-20,47.03,25.5400,36.2827,16.9170,118.90,27.8400,13.120,84.50,84.81,139.88
2023-11-21,46.04,25.5500,36.4654,16.6750,118.62,27.7800,12.820,83.76,84.62,138.63
2023-11-22,46.06,25.7280,36.6000,16.7600,118.53,27.8100,12.690,83.54,84.58,138.70
2023-11-24,45.48,25.8400,36.3530,16.7200,119.13,27.9350,12.600,84.48,84.93,139.33
2023-11-27,44.63,25.7600,36.2330,16.7090,118.56,27.8630,12.570,83.64,84.63,138.13
2023-11-28,45.29,25.8000,36.3126,16.8520,118.55,27.8293,12.720,83.28,84.65,137.75